@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1e7;
  color: #222222;
  font-size: 14px;
  font-family: VT323, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
  margin: 4px 0;
}

h1 {
  font-size: 24px;
  margin: 16px 0;
}

h2 {
  font-size: 20px;
  margin: 8px 0;
}
